body {
    margin: 0;
    padding: 0;
}
.header {
    background-image: url(https://img.itch.zone/aW1nLzY0ODAzMjUucG5n/original/5Eotce.png); /* ajout de la couleur de fond */
    background-position: 0px 0px 50px;
    background-size: cover;
    height: 25vh; /* hauteur du bandeau */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
    filter: blur(4px);
}
.contain {
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(70vh - 150px); /* ajustement de la hauteur du conteneur pour tenir compte de la hauteur du bandeau */
}
.photo {
    flex: 1;
    padding-left: 100px;
}
.photo img {
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
    height: 100%;
}
.text {
    flex: 2;
    padding-right: 8rem;
}
.text h1 {
    font-size: 48px;
    margin-bottom: 30px;
    color: #15616d;
}
.text p {
    font-size: 24px; /* agrandissement de la taille de police */
    line-height: 1.5;
    color: #001524;
}

@media screen and (max-width: 900px) {

    .header{
        display: none;
    }
    .photo{
        display: none;
    }
    .text{
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        justify-content: center;
        align-items: center;
        padding-top: 10vh;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .contain{
        height: 78vh;
    }
}
