@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.footer{
	background-color: #78290f;
    padding-top: 30px;
    bottom: 0;
    position: relative;
    padding-bottom: 0;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}
  
  /* Add a hover effect if you want */
.fa:hover {
opacity: 0.7;
}
  
  /* Set a specific color for each brand */
  
  /* Facebook */
.fa-soundcloud {
	background-color:#F26F23;
}

.socials{
	background-color: transparent;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.socials li{
	background-color: transparent;
    margin: 0 10px;
}

.socials a{
	background-color: transparent;
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
	background-color: transparent;
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover .fa-soundcloud{
    color:  #F26F23;
}

.socials a:hover .fa-linkedin{
    color:  #0077b5;
}

.socials a:hover .fa-youtube{
    color:  #FF0000;
}

.socials a:hover .fa-github{
    color:  #333;
}

.mails {
	background-color: transparent;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
	font-weight: bold;
	font-size: 1.5rem;
    padding-bottom: 1rem;
}

.mails a {
	background-color: transparent;
	font-weight: lighter;
	transition: all 0.5s ease;
}

.mails a:hover {
	background-color: transparent;
	font-weight: lighter;
	color: #001524;
}

